[Desktop Entry]
Type=Application
Name=WindUSB
Comment=Create Windows Bootable USB
Keywords=windows;usb;flash;boot;
Exec=AppRun
Icon=io.github.windusb
Terminal=false
Categories=System;
X-AppImage-Version=1.0.1
StartupNotify=true
