[Desktop Entry]
Type=Application
Name=WindUSB
Exec=AppRun
Icon=io.github.windusb
Categories=Utility;System;
Terminal=false
Comment=Create Windows Bootable USB
X-AppImage-Version=1.0.0
