[Desktop Entry]
Type=Application
Name=WindUSB
Comment=Create Windows Bootable USB
Keywords=windows;usb;flash;boot;
Exec=AppRun
Icon=io.github.windusb
Terminal=false
Categories=Utility;System;
X-AppImage-Version=1.0.0\n0.5
StartupNotify=true
